    {% apply spaceless %}
    <table border=0 cellpadding=0 class="documentation-table">
      <tr>
        <th>Name</th>
        <th>Choices/Default</th>
        <th>Description</th>
      </tr>
      {% for option in resource.options %}
      <tr>
        <td>
          <b>{{ option.name }}</b>
          <div style="font-size: small">
            <span style="color: purple">{{ option.type }}</span>
          </div>
        </td>
        <td>
          {% if option.choices %}
            <ul style="margin: 0; padding: 0;">
            {% for choice in option.choices %}
              <li>
              {% if choice == option.default %}
                <div style="color: blue"><b>{{ choice }}</b>&nbsp;&larr;</div>
              {% else %}
                {{ choice }}
              {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </td>
        <td>
          {{ option.description is not null ? option.description|markdown_to_html|raw }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endapply %}